<!DOCTYPE html>
<html>
<head>
  <title>TflCamerasBegin</title>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBxM36DxD-TmmCuWMML0UXBVSirOUkF42Q&sensor=false" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
